.middle {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  //   -ms-overflow-style: none;

  > div {
    // margin: 10px;
    height: 100vh;
    scroll-snap-align: start;
  }
}
::-webkit-scrollbar {
  display: none;
}
// .m {
//   > div {
//     height: 100vh;
//   }
// }
