@import "./variable.scss";
html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.title {
  margin: 20px auto 0;
  text-align: center;
}

.component {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  grid-template-columns: repeat(5, 1px);
  height: 100vh;
  width: 10%;
}

button {
  all: unset;
}
.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
}

.active {
  background-color: $pointColor;
  transition: background-color 0.2s;
}

.dot:hover {
  background: blue;
  cursor: pointer;
}

.pageNum {
  position: fixed;
  background-color: black;
  color: white;
  width: 100px;
  height: 100px;
  bottom: 0;
  right: 0;
  border-radius: 20px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
}

.scroller {
  display: flex;
  flex-direction: row-reverse;
}
.cover,
.stack,
.contact {
  background-color: $darkMainColor;
  color: white;
}

.project {
  background-color: $lightMainColor;
}
