.career {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  &__section {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
  }
}
