@import "./variable.scss";
.career {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-blend-mode: multiply;
  background: $lightMainColor url("../image/bg2.jpg");
  background-size: cover;
  position: relative;
  // animation: displace 3s linear infinite;

  &__section {
    width: 80%;
    height: 80%;
    display: grid;

    justify-content: center;
    align-items: center;
    transition: all 2s;
  }
}

@keyframes displace {
  from {
    background-position: center 0;
  }
  to {
    background-position: center 1200px;
  }
}
