.cover {
  background-color: rgb(221, 211, 211);
  color: white;
}

.career {
  background-color: rgb(238, 238, 208);
}
.stack {
  background-color: rgb(204, 231, 204);
}
.project {
  background-color: rgb(182, 182, 223);
}
.contact {
  background-color: rgb(218, 173, 188);
}
